.main{
    background-color: #ff8811;
    width:95%;
    margin-left:2%;
    overflow:hidden;
    display: flex;
     justify-content: center;
     flex-direction:row;
     align-items: center;
   
}
.text{
    width: 50%;
    
}
.heading{
    color:white;
    width:500px;
     font-weight:bold;
      font-size:36px
}
.para{
    color:white;
    width:600px; 
    font-size:16px;
}
.image{
    
    margin-top:50px;
}

@media screen and (max-width:462px) {
    .heading {
        font-size: 14px;
    }
    .para {
        font-size: 14px;
        width:300px;
        text-align: center;
       
    }
    .image{
        width:2%;
        height:2%;
    }
    .main{
        flex-direction:column;
        justify-content: center;
       
    }
    .text{
        width:80%
    }

}
